.header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .user-name {
    text-transform: capitalize;
    padding-left: 10px;
  }

  .button-with-icon-label {
    align-self: center;
    user-select: none;
    cursor: pointer;
  }

  .button-with-icon {
    padding: 0;
  }
}
